In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_first = pd.read_csv('/Users/atharv/Desktop/Bikes_scrapping/notebooks/popular_bike_brands_india_df.csv')

In [3]:
df_first

                    Name                 Price                Basic Specs
0             Ather 450X  Rs.1.26 - 1.29 Lakh*              6.4 kW5.45 Hr
1             Ather 450S            Rs.97,547*              5.4 kW8.36 Hr
2         Ather 450 Apex         Rs.1.89 Lakh*                7 kW5.45 Hr
3           Revolt RV400  Rs.1.27 - 1.44 Lakh*                 3 kW4.5 Hr
4       Revolt RV400 BRZ         Rs.1.32 Lakh*                 3 kW4.5 Hr
..                   ...                   ...                        ...
237  Hero Xtreme 160R 4V  Rs.1.27 - 1.37 Lakh*  48.28 kmpl163.2 cc16.9 PS
238          Hero HF 100            Rs.59,018*      70 kmpl97.2 cc8.02 PS
239  Hero Xtreme 200S 4V         Rs.1.41 Lakh*     40 kmpl199.6 cc19.1 PS
240  Hero XPulse 200T 4V         Rs.1.40 Lakh*     40 kmpl199.6 cc19.1 PS
241   Hero Destini Prime            Rs.71,499*     56 kmpl124.6 cc9.09 PS

[242 rows x 3 columns]